# Enviroment
/demeter

# Data
/data

# Python
src/Python/__pycache__
*.__pycache__
*.pyc

# Secrets
/src/melisafb/token.txt
/src/melisafb/token_demeter.txt
/src/melisatg/token.txt
/src/melisatg/token_old.txt
/src/melisatg/token_demeter.txt
/src/melisafb_node/node_modules
/src/melisafb_node/conf.json
/src/melisaig/node_modules
/src/melisaig/conf.json

# Data
/data/survey/FAQ.xlsx

# Model

/model